@import '../../../styles/base/base';
$font-size-description: 20px;
$font-weight-tiny: 300;
$font-size-temp: 60px;
$font-color: rgba(0, 0, 0, 0.5);
$temp-color: rgba(0, 0, 0, 0.7);

.test {
    margin: 20px;
}

.weather-data {
    color: $font-color;
    display: flex;
    position: relative;
    width: 528.45px;

    &__details {
        border-radius: 10px;
        box-shadow: 0 8px 23px rgba(0, 0, 0, 0.25);
        height: 176px;
        // padding: 8.74px 0 8.74px 18.58px;
        width: 420.44px;
    }

    &__location {
        display: flex;
        flex: 1;
        font-size: $font-size-tiny;
        justify-content: flex-start;
        letter-spacing: 1px;
        line-height: 14px;
        padding: 8.74px 113.82px 0 18.58px;
        text-align: left;
    }

    &__temperature {
        color: $temp-color;
        display: flex;
        font-size: $font-size-temp;
        font-weight: $font-weight-tiny;
        margin-top: 30px;
        padding-left: 8.74px;
    }

    &__wind-speed,
    &__humidity {
        display: inline-flex;
        font-size: $font-size-tiny;
    }

    &__description {
        font-size: $font-size-description;
    }
}

.weather-data__icon {
    position: absolute;
    right: 2.5px;
}
