@import '../../styles/base/base';

.dropdown {
    background: #fff;
    border: 1px solid $color-ghost;
    border-radius: 5px;
    color: $color-fiord;
    font-weight: $font-weight-regular;
    width: 197px;

    // max-height: 40px;
    // max-width: 40px;

    &__item {
        height: 48px;
    }

    //     &__logo {
    //         margin-left: -12px;
    //     }
    // }
}
