.avatar {
    &--clickable {
        cursor: pointer;
    }

    img {
        border-radius: 50%;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    &--large img {
        height: 96px;
        width: 96px;
    }

    &__logo {
        margin-left: -12px;
    }
}
