@import '../../../../../styles//base/colors';
@import '../../../../../styles//base/typography';

.actions {
    align-items: center;
    color: $color-dark-gray;
    display: flex;
    font-size: $font-size-tiny;
    font-weight: 500;
    line-height: 150%;
    padding-left: 16px;

    .likes {
        align-items: center;
        background: none;
        border: $color-light-gray;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 24px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 4px;
        width: 46px;

        .likes--body {
            color: $color-dark-gray;
            margin-left: 6px;
        }
    }

    .comments {
        align-items: center;
        background: none;
        border: $color-light-gray;
        cursor: pointer;
        display: flex;
        height: 18px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 4px;

        .comments--body {
            color: $color-dark-gray;
            margin-left: 6px;
        }
    }
}
