@import '../../../../../styles//base/colors';
@import '../../../../../styles//base/typography';
@import '../scss/header';
@import '../scss/format';
@import '../scss/actions';
@import '../scss/comment--wrapper';

.card {
    align-items: flex-start;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 662px;
    left: 464px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-transform: uppercase;
    top: 57px;
    width: 416px;
}
