@import '../../../../../styles//base/colors';
@import '../../../../../styles//base/typography';

.video {
    flex-grow: 1;
    position: relative;

    .icon {
        height: 72px;
        left: 170.61px;
        position: absolute;
        top: 160px;
        width: 75.83px;

        .vector--one {
            bottom: 33.33%;
            left: 41.67%;
            position: absolute;
            right: 33.33%;
            top: 33.33%;
        }
    }

    .photo {
        background: url('https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-position: center;
        background-size: 85vh;
        height: 405px;
        width: 416px;
    }
}
