$light-grey: #9ea7b3;
$dark-grey: #6a7889;
$font-family: 'roboto';
$font-size: 12px;

.breadcrumbs {
    font-family: $font-family;
    font-size: $font-size;
    font-style: normal;
    font-weight: 500;
    height: 18px;
    line-height: 150%;
    text-transform: uppercase;
    width: 300px;

    &__item {
        display: inline-block;

        &:not(:last-of-type)::after {
            color: $light-grey;
            content: '\203a';
            margin: 0 5px;
        }

        &:last-child a {
            color: $dark-grey;
        }
    }

    &__link {
        color: $light-grey;
        text-decoration: none;

        &:hover {
            color: $dark-grey;
            text-decoration: underline;
        }
    }
}
