@import '../../../styles/base/base';
$_font-size-xlarge-plus: 60px;

.hello-widget {
    display: flex;
    flex-direction: column;
    font-weight: $font-weight-bold;
    text-align: left;

    &__time {
        font-size: $font-size-xxlarge;
    }

    &__text {
        font-size: $font-size-xlarge;
        margin-top: 16px;

        &__name {
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1080px) {
    .hello-widget {
        &__time {
            font-weight: $font-weight-medium;
        }

        &__text {
            font-size: $font-size-large;
        }
    }
}
@media (max-width: 672px) {
    .hello-widget {
        align-items: center;
        justify-content: center;
        text-align: center;

        &__time {
            font-size: $_font-size-xlarge-plus;
            font-weight: $font-weight-medium;
        }
    }
}
