@import '../../../styles/base/base';

.carousel {
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
    width: 100%;

    &__title-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__title {
        font-size: $font-size-large;
        font-weight: $font-weight-heavy;
        line-height: 32px;
    }

    &__wrapper {
        display: flex;
        position: relative;
        width: 100%;

        &--content-wrapper {
            height: 100%;
            overflow: hidden;
            width: 100%;
        }

        @media (max-width: 1555px) {
            margin-left: auto;
            margin-right: auto;
            width: 1360px;
        }

        @media (max-width: 1470px) {
            width: 1060px;
        }

        @media (max-width: 1165px) {
            width: 886px;
        }

        @media (max-width: 990px) {
            width: 693px;
        }

        @media (max-width: 795px) {
            width: 410px;
        }

        @media (max-width: 460px) {
            width: 280px;
        }
    }
}

.carousel-content {
    display: flex;
    height: 477px;
    margin-bottom: 5px;
    transition: all 250ms linear;
    width: 2960px;

    @media (max-width: 1555px) {
        width: 2818px;
    }

    @media (max-width: 1470px) {
        width: 2208px;
    }

    @media (max-width: 1165px) {
        width: 2784px;
    }

    @media (max-width: 990px) {
        width: 2208px;
    }

    @media (max-width: 795px) {
        width: 2675px;
    }

    @media (max-width: 460px) {
        width: 1723px;
    }
}
