@import '../../../styles/base/base';

.starting-page-layout {
    align-items: center;
    background: $color-mercury;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo-container {
        margin-bottom: 72px;
    }

    &__container {
        background: $color-white;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        padding: 40px 32px;
        width: 546px;

        &--title {
            font-size: $font-size-large;
            font-weight: $font-weight-heavy;
            line-height: 32px;
            margin: 0;
            margin-bottom: 8px;
        }

        &--subtitle {
            font-size: $font-size-medium;
            font-weight: $font-weight-regular;
            line-height: 24px;
            margin: 0;
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 635px) {
    .starting-page-layout {
        justify-content: flex-start;

        &__logo-container {
            margin-bottom: 40px;
            padding-top: 25px;
        }

        &__container {
            padding: 20px 16px;
            width: 110%;
        }
    }
}
