@import '../../../styles/base/typography';
@import '../../../styles/base/colors';

$font-family-roboto: 'Roboto', sans-serif;

.menuItem {
    display: inline-block;
    font-family: $font-family-roboto;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    text-decoration: none;

    /* kad butu clickable visa zona */
    &__content {
        padding: 0 25px;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__name {
        color: $color-light-gray;
        display: inline-block;
        line-height: 80px;
        padding-left: 15px;
        text-decoration: none;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.12);
    }
}
