.greeting-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 72px;
    min-width: 240px;

    @media (max-width: 782px) {
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        min-width: 240px;
    }
}
