@import '../../../styles/base/base';

.button {
    background-color: $color-violet;
    border: 0;
    border-radius: 65px;
    color: $color-white;
    cursor: pointer;
    font-weight: $font-weight-medium;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        $_color-violet-medium: #5836cc;
        background-color: $_color-violet-medium;
    }

    &:active {
        $_color-violet-dark: #462ca3;
        background-color: $_color-violet-dark;
    }

    // &--isDisabled

    &:disabled {
        background-color: $color-porcelain;
        color: $color-chateau-gray;
        cursor: default;

        &:hover,
        :active,
        :focus {
            background-color: $color-porcelain;
            color: $color-chateau-gray;
        }
    }

    &--medium {
        font-size: $font-size-tiny;
        height: 32px;
        padding: 9px 10px;
        width: 86px;
    }

    &--large {
        font-size: $font-size-small;
        height: 40px;
        padding: 14px 20px;
        width: 114px;
    }
}
