.profile-widget {
    align-items: center;
    display: flex;
    margin-right: 48px;

    &__notifications-container {
        height: 24px;
        margin-right: 20px;
        position: relative;
        top: 2px;
    }

    &__elipse-icon {
        left: 12px;
        position: absolute;
        top: -5px;
    }
}
