@import '../../../styles/base/base';
.reservations-section {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: space-between;
    padding-bottom: 72px;
    position: relative;

    &__header {
        font-size: $font-size-large;
        font-weight: $font-weight-heavy;
        left: 0;
        line-height: 32px;
        margin: 0;
        position: absolute;
        top: -84px;
    }
}
