@import '../../../styles/base/base';

.reservations-section {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-bottom: 72px;

    &__header {
        display: flex;
        font-size: $font-size-large;
        font-weight: $font-weight-heavy;
        line-height: 32px;
    }

    &__element-container {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        justify-content: space-evenly;
    }
}
