@import '../../../styles/base/base';
$_color-lynch: #627485;

.card {
    align-items: center;
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    max-width: 384px;
    min-width: 248px;
    padding: 16px;
    position: relative;

    &__image {
        margin-top: -64px;
        position: absolute;
    }

    &__details {
        color: $color-midnight;
        font-size: $font-size-tiny;
        font-weight: $font-weight-medium;
        position: absolute;
        top: 65.5px;

        &-name {
            line-height: 150%;
            text-transform: uppercase;
        }

        &-birthday {
            font-weight: $font-weight-regular;

            span {
                font-weight: $font-weight-medium;
            }
        }

        &-graphics {
            max-width: 416px;
            width: 100%;
        }

        &-birthday,
        &-wish {
            line-height: 16px;
        }
    }

    &__divider {
        margin: 24px 0 16px;
        width: 100%;
    }

    &__icons {
        align-self: flex-start;
        display: flex;
        font-size: $font-size-tiny;
        font-weight: $font-weight-medium;

        &-present,
        &-comment {
            cursor: pointer;
        }

        &-number {
            color: $_color-lynch;
            margin: auto 12px auto 8px;
        }
    }

    &--expanded {
        display: flex;
        flex-direction: column;
        text-align: justify;
        word-break: break-word;

        &__divider {
            margin: 16px auto 3px;
            width: 100%;
        }

        &__comments {
            font-size: $font-size-mini;
            padding: 5px 0;

            :first-child {
                display: flex;
                justify-content: space-between;
            }

            span:first-child {
                font-weight: $font-weight-medium;
                text-transform: uppercase;
            }

            :nth-child(2) {
                display: flex;
                padding-bottom: 5px;
            }
        }
    }
}

.comments__box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    :nth-child(2) {
        align-self: center;
    }

    &-input {
        border: 1px solid $color-ghost;
        border-radius: 5px;
        font-size: $font-size-small;
        line-height: 15px;
        padding: 12px 16px;
        resize: vertical;
        width: 50%;

        &:focus {
            border: 1px solid $color-fiord;
            outline: 0;
        }

        &::placeholder {
            color: $color-ghost;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
        }
    }
}
