@import '../../../styles/base/base';
$_color-lynch: #627485;

.card {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 48px;
    padding: 16px 0 0;
    position: relative;
    width: 416px;

    &__image {
        margin-top: -64px;
        position: absolute;
    }

    &__details {
        color: $color-midnight;
        flex-direction: column;
        font-size: $font-size-tiny;
        font-weight: $font-weight-medium;
        position: absolute;
        top: 65.5px;

        &-name {
            line-height: 150%;
            text-transform: uppercase;
        }

        &-birthday {
            font-weight: $font-weight-regular;

            :first-child {
                font-weight: $font-weight-medium;
            }
        }

        &-birthday,
        &-wish {
            line-height: 16px;
        }
    }

    &__divider {
        display: flex;
        margin-top: 24px;
    }

    &__icons {
        align-self: flex-start;
        display: flex;
        font-size: $font-size-tiny;
        font-weight: $font-weight-medium;
        margin: 16px;

        &-present {
            display: flex;
            padding-right: 12px;
        }

        svg {
            cursor: pointer;
        }

        &-number {
            color: $_color-lynch;
            line-height: 150%;
            margin: auto 0 auto 8px;
        }
    }

    &--expanded {
        display: flex;
        flex-direction: column;
        padding: 0 19px;
        text-align: justify;

        &__divider {
            margin: 0 auto 3px;
        }

        &__comments {
            font-size: $font-size-mini;
            padding: 5px 0;

            :first-child {
                display: flex;
                justify-content: space-between;
            }

            span:first-child {
                font-weight: $font-weight-medium;
                text-transform: uppercase;
            }

            :nth-child(2) {
                display: flex;
                padding-bottom: 5px;
            }
        }
    }
}

.comments__box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &-input {
        border: 1px solid $color-ghost;
        border-radius: 5px;
        font-size: $font-size-small;
        line-height: 15px;
        padding: 12px 16px;

        &:focus {
            border: 1px solid $color-fiord;
            outline: 0;
        }

        &::placeholder {
            color: $color-ghost;
            font-size: $font-size-small;
            font-weight: $font-weight-regular;
        }
    }
}
