@import '../../../styles/base/base';

.slider__container {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    max-height: 316px;
    max-width: 1344px;

    .slider__image-wrapper {
        background-position: center !important;
        background-size: cover !important;
        border-radius: 8px 0 0 8px;
        width: 100%;
    }

    .slider-image {
        height: 312px;
    }

    .bullets {
        display: flex;
        gap: 10px;

        img {
            cursor: pointer;
        }
    }

    .placeholder-nav {
        cursor: pointer;
    }

    .btn-container {
        padding-top: 14px;
    }
}

.slider-text__wrapper {
    align-items: flex-start;
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px 32px 8px;

    .top-navigation {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
        width: 312px;
    }

    .text-slogan {
        color: $color-watermelon;
        font-size: $font-size-mini;
        font-weight: $font-weight-medium;
        line-height: 1.5;
        text-transform: uppercase;
    }

    h2 {
        $_font-size: 32px;
        color: $color-midnight;
        font-size: $_font-size;
        font-weight: $font-weight-medium;
        line-height: 1.15;
        margin: 0;
        padding: 2px 0 16px;
    }

    p {
        color: $color-dark-gray;
        font-size: $font-size-medium;
        line-height: 1.5;
        margin: 0;
        text-align: justify;
        width: 294px;
    }
}

@media (max-width: 750px) {
    .slider__container {
        display: inline-block;
        max-height: 550px;
        position: relative;
        width: 100%;
    }

    .slider__image-wrapper {
        height: 225px;
        width: 100%;
    }

    .slider-text__wrapper {
        align-items: center;
        padding-top: 20px;
        text-align: center;

        p {
            font-size: $font-size-small;
            width: 80%;
        }
    }

    .slider-text__wrapper .top-navigation {
        justify-content: center;
    }

    .placeholder-nav {
        left: 0;
        position: absolute;
        top: 0;
    }
}
