@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

$font-family-roboto: 'Roboto', sans-serif;

.app {
    color: $color-fiord;
    font-family: $font-family-roboto;
    margin: 40px auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
}
