@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

$font-family-roboto: 'Roboto', sans-serif;

html,
body {
    margin: 0;
    padding: 0;
}

.app {
    color: $color-fiord;
    font-family: $font-family-roboto;
}
