@charset "utf-8";

@import 'base/base';
@import 'mixins/mixins';

@import 'print';

$font-family-roboto: 'Roboto', sans-serif;

.app {
    color: $color-fiord;
    font-family: $font-family-roboto;
    text-align: center;
}

body {
    margin: 0;
}
