@import '../../../styles/base/base';

.header {
    align-items: center;
    background-color: $color-violet;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 48px;

    &__logo {
        flex: auto;
    }

    @media (max-width: 768px) {
        // padding: 0 36px;
    }

    @media (max-width: 673px) {
        padding: 0 24px;
    }

    @media (max-width: 580px) {
        padding: 0 12px;

        &__logo,
        &__profile-widget {
            transform: scale(0.8);
        }
    }

    @media (max-width: 450px) {
        padding: 0 8px;

        &__logo,
        &__profile-widget {
            transform: scale(0.6);
        }
    }

    @media (max-width: 375px) {
        padding: 0 4px;

        &__logo,
        &__profile-widget {
            transform: scale(0.6);
        }
    }

    @media (max-width: 350px) {
        padding: 0 4px;

        &__logo,
        &__profile-widget {
            transform: scale(0.5);
        }
    }
}
