@import '../../../styles/base/base';

.reservations {
    background: $color-white;
    box-shadow: 0 8px 23px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    height: 94px;
    position: relative;
    width: 416px;

    &__header-container {
        color: $color-fiord;
        display: flex;
        font-weight: $font-weight-bold;
        font-size: $font-size-tiny;
        flex-direction: column;
        flex: none;
        height: 100%;
        justify-content: center;
        line-height: 32px;
        margin: 4px 0;
    }

    &__header-name,
    &__header-reservation {
        margin: 0 0 0 16px;
        text-align: start;
    }

    &__header-reservation {
        color: $color-fiord;
    }

    &__image-wrapper {
        left: 61%;
        top: -19%;
        position: absolute;
    }
}