@import '../../../styles/base/base';

.menu-item {
    display: inline-block;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    text-decoration: none;

    &__content {
        padding: 0 25px;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
    }

    &__name {
        color: $color-light-gray;
        display: inline-block;
        line-height: 100%;
        padding-left: 15px;
        text-decoration: none;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 768px) {
    .menu-item {
        height: 100%;
        width: 100%;
    }
}
