$inherit: inherit;
@import '../../../styles/mixins/index';

.eat-out-section {
    @include section-responsiveness;
    padding-bottom: 72px;

    @media (max-width: 1200px) {
        grid-gap: 25px;
    }

    &__element {
        color: $inherit;
        min-width: 280px;
        text-decoration: none;
        width: 100%;
    }
}
