.main-container {
    display: flex;
    gap: 50px;

    .view-eat-out-card {
        width: 416px;
    }
}

@media (max-width: 1150px) {
    .main-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}
