@import '../../../styles/base/base';
$_color-violet-medium: #5836cc;
$_color-violet-dark: #462ca3;

.button {
    background-color: $color-violet;
    border: transparent;
    border-radius: 65px;
    color: $color-white;
    cursor: pointer;
    font-weight: $font-weight-medium;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    &:hover {
        background-color: $_color-violet-medium;
    }

    &:active {
        background-color: $_color-violet-dark;
    }

    &:disabled {
        background-color: $color-porcelain;
        color: $color-chateau-gray;
        cursor: default;

        &:hover,
        :active,
        :focus {
            background-color: $color-porcelain;
            color: $color-chateau-gray;
        }
    }

    &--medium {
        font-size: $font-size-tiny;
        padding: 9px 16px;
    }

    &--large {
        font-size: $font-size-small;
        line-height: 1.7;
        padding: 12px 24px;

        &:hover {
        }

        &:active {
        }
    }

    &--has-icon {
        padding: 8px 24px;
        width: 141px;
    }

    &--has-color-red {
        background: $color-watermelon;

        &:hover {
            background: darken($color-watermelon, 20%);
        }

        &:active {
            background: darken($color-watermelon, 40%);
        }
    }
}
