@import '../../../styles/base/base';

@import '../../../styles/index';

.footer {
    align-items: center;
    background: #fff;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 72px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;

    &__text {
        bottom: 38.89%;
        color: $color-fiord;
        font-size: $font-size-mini;
        font-weight: $font-weight-medium;
        line-height: 150%;
        position: absolute;
        right: 3.33%;
        text-align: right;
        text-transform: uppercase;
        top: 40.28%;
    }
}
