@import '../../../styles/base/base';

$inherit: inherit;

.food-categories-section {
    width: 100%;

    &__element-container {
        display: grid;
        gap: 63px 80px;

        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 1300px) {
            gap: 63px 53px;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 950px) {
            gap: 63px 53px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 700px) {
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 570px) {
            gap: 24px 0;
            grid-template-columns: 1fr;
            margin: auto;
            max-width: 416px;
        }
    }

    &__element {
        color: $inherit;
        display: grid;
        max-width: 416px;
        min-width: 235px;
        text-decoration: none;
    }
}
