$color-black: #000;
$color-mirage: #1f2d3d;
$color-fiord: #3e5067;
$color-slate-gray: #6a7889;
$color-chateau-gray: #9ea7b3;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-porcelain: #edeff1;
$color-athens-gray: #f6f7f8;
$color-electric-violet: #6e44ff;
$color-magic-mint: #7bf1a8;
$color-wild-watermelon: #ff6e75;
$color-malibu: #72ddf7;
$color-energy-yellow: #fadb5e;
$color-mauve: #b892ff;
