@import '../../../styles/base/base';

.navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;

    &__logo {
        float: left;
    }
}
@media (max-width: 768px) {
    .navigation {
        height: 80px;
        width: 100%;
    }
}
@media (max-width: 630px) {
    .navigation {
        height: 58px;
        margin-top: 9px;
        width: 100%;
    }
}
