@import '../../../styles/base/base';

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__logo {
        float: left;
    }
}
@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
}
